<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--meta property="og:image"
        content="http://perl6.party/assets/pics/perl6.party.gif"-->
    <title>Perl 6 Toaster</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://map.perl6.party/sort.css">
    <style>
      .mod-details textarea {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="h3">Perl 6 Ecosystem Toaster
        <a href="https://github.com/zoffixznet/perl6-Toaster"
          class="btn btn-sm btn-primary"
            ><i class="glyphicon glyphicon-thumbs-up"></i>
          GitHub repo</a>
        <a href="https://temp.perl6.party/toast.sqlite.db"
          class="btn btn-sm btn-success"
            ><i class="glyphicon glyphicon-save"></i>
            data as SQLite db</a>
      </h1>
      <div class="mod-details">
      % with $^s<mod> {
        <h2><a href="https://modules.perl6.org/repo/<%= .<module> %>"
            ><%= .<module> %></a> <small>toasted on
            <b><%= .<rakudo_long> %></b></small></h2>
        <p class="lead">Status: <b><%= .<status> %></b>;
            Exit code: <b><%= .<exitcode> %></b></p>

        <h3>STDERR</h3>
        <textarea cols="80" rows="20"><%= .<stderr> %></textarea>
        <h3>STDOUT</h3>
        <textarea cols="80" rows="20"><%= .<stdout> %></textarea>
      % }
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
    <script src="https://map.perl6.party/moment.js"></script>
    <script src="https://map.perl6.party/sort.js"></script>
  </body>
</html>
