language: perl6

os:
  - linux
  - osx

perl6:
  - 2016.05
  - latest

install:
  - rakudobrew build panda
  - rakudobrew build zef
  - panda installdeps .

script: prove -v -e "perl6 -Ilib" t/ && zef install .
