language: perl6
before_install:
  - echo 'America/Chicago' | sudo tee /etc/timezone
  - sudo dpkg-reconfigure --frontend noninteractive tzdata
install:
  - rakudobrew build-zef
  - zef install --depsonly .
script:
  - (cd src; perl6 Configure.p6; make)
  - prove -v -e "perl6 --ll-exception -Ilib" t
after_success:
  - zef list --installed --verbose
