<!doctype html>
<html lang="{{ lang }}">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8" />
        <meta description="This is a new template"/>
        <style>
        kbd { font-family: "Droid Sans Mono", "Luxi Mono", "Inconsolata", monospace }
        samp { font-family: "Terminus", "Courier", "Lucida Console", monospace }
        u { text-decoration: none }
        .nested {
            margin-left: 3em;
        }
        aside, u { opacity: 0.7 }
        a[id^="fn-"]:target { background: #ff0 }
        </style>
        {{# css }}<link rel="stylesheet" href="{{ css }}">{{/ css }}
        {{# metadata }}{{{ metadata }}}{{/ metadata }}
        {{{ head }}}
    </head>
    <body class="pod">
    <div id="___top"></div>
    {{{ header }}}
    {{# title }}<h1 class='title'>{{ title }}</h1>{{/ title }}
    {{# subtitle }}<p class='subtitle'>{{ subtitle }}</p>{{/ subtitle }}
    {{# toc }}{{{ toc }}}{{/ toc }}
    <div class="pod-body{{^ toc }} no-toc{{/ toc }})">
    {{# body }}{{{ . }}}{{/ body }}
    </div>
    {{# footnotes }}{{{ footnotes }}}{{/ footnotes }}
    {{{ footer }}}
    </body>
</html>
